html, body{
    height: 100vh;
}

body {
    background: url('./../images/bg-login.jpg');
    overflow-y: auto;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.profile-container img {
    max-width: 200px;
    height: 200px;
    padding-top: 30px;
    margin-left: 30px;
}

.profile-container {
    padding-top: 300px;
}

.navbar-brand img {
    max-width: 30px; /* Set maximum width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px;
}

main {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 8px;
}

.admin-container {
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
}

.admin-wrapper {
    max-width: 30%;
    height: 450px;
    padding-top: 30px;
    border-radius: 8px;
    margin: auto;
    margin-top: 5%;
    background-color: #f1f1f1;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
}

.login-wrapper {
    max-width: 30%;
    height: 450px;
    padding-top: 30px;
    border-radius: 8px;
    margin: auto;
    margin-top: 5%;
    background-color: #f1f1f1;
}

.content {
    flex: 1;
}

.content-wrapper {
    max-height: 83vh; /* Mengatur tinggi elemen konten sesuai tinggi viewport */
    overflow-y: auto; /* Membuat konten dapat di-scroll secara vertikal */
    padding: 20px;
    box-sizing: border-box;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    background: #f1f1f1;
    margin-top: 2px;
}


.custom-navbar {
    background-color: #6fe0ff; 
}
.custom-navbar .navbar-brand, .custom-navbar .nav-link {
    color: #011700; 
}
.custom-navbar .nav-link.active {
    font-weight: bold; 
}