<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        
        html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #f1f1f1;
    margin-top: auto;
}

    </style>
</head>
<body>
    <div class="content">
        <!-- Isi konten halaman -->
    </div>
    <footer>
        <hr />
        <i>dibuat oleh</i><br>
        <i>@agustiheryunanda & @bayudwikurniawan</i>       
        <i>KELAS EC4C</i><br>
    </footer>
</body>
</html>
